*{
    margin: 0;
    padding: 0;
}

content{
    display: inline-block;
    background-color: rgba(243, 243, 243, 0.4);
    height: 73vh;
    height: 73dvh;
    width: 97vw;
    width: 97dvw;
    padding: 3vh 1vw;
}

.head{
    display: flex;
    height: 10vh;
    height: 10dvh;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

footer p{
    display: flex;
    height: 10vh;
    height: 10dvh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: xx-large;
}

h1{
    align-self: center;
}

.main-box{
    display: flex;
    background: black;
    display: flex;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    box-sizing: border-box;
    width: 95vw;
    width: 95dvw;
    height: 71vh;
    height: 71dvh;
    
}