*{
    margin: 0;
    padding: 0;
}

content{
    display: inline-block;
    background-color: rgba(174, 163, 163, 0.4);
    height: 73vh;
    height: 73dvh;
    width: 98vw;
    width: 98dvw;
    padding: 3vh 1vw;
}

.head{
    display: flex;
    height: 10vh;
    height: 10dvh;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

footer p{
    display: flex;
    height: 10vh;
    height: 10dvh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: xx-large;
}



h1{
    align-self: center;
}

.main-box{
    color: black;
    display: flex;
    background: rgb(255, 255, 255);
    border: 3px solid rgba(255, 255, 255, 0.822);
    box-shadow: 10px 10px 9px rgba(255, 255, 255, 0.822),-10px -10px 9px rgba(255, 255, 255, 0.822),10px -10px 9px rgba(255, 255, 255, 0.822),-10px 10px 9px rgba(255, 255, 255, 0.822);
    border-radius: 5%;
    display: flex;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    box-sizing: border-box;
    width: 95.5vw;
    width: 95.5dvw;
    height: 71vh;
    height: 71dvh;
    
}

.main-img1{
    border-radius: 5%;
    display: flex;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    box-sizing: border-box;
}

@media(1200px >= width > 950px ){
    .main-box{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-img1{
        height: 51vw;
    }
}
@media(750px >= width > 600px ){
    .main-box{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-img1{
        height: 61vw;
    }
}

@media(max-width: 600px){
    .main-box {
        flex-wrap: wrap;
    }
    .main-img1{
        width: 93vw;
    }
}